node_modules
dist
public
sessions
.env
.env.*
!.env.example
!.env.production.example
.git
.gitignore
npm-debug.log
Dockerfile
.dockerignore
*.md
*.log
dashboard-react/node_modules
dashboard-react/dist

